<script id="tpl-demo-view" type="text/template">
<div id="chart-hist-count"></div>

<div class="row">
	<div class="col-lg-1 center-block">
	<script type="text/javascript">

//define dc barchart object
    var countHistChart  = dc.barChart("#chart-hist-count");
// load data
	d3.json("static/data/counts.json", function(countData) {
    countData.forEach(function (d) {
        d.Date = Date.parse(d.Date);
    });

// get min/max dates
    var dates = []
    countData.forEach(function (d) {
        dates.push(d.Date)
    });
    var minDate = new Date(Math.min.apply(null, dates));
    var maxDate = new Date(Math.max.apply(null, dates));

//setup crossfilter

var ndx = crossfilter(countData),
            dateDim = ndx.dimension(function (d) {
                return +d.Date;
            }),
            countPerDate = dateDim.group().reduceSum(function (d) {
                return +d.Count;
            });

// map crossfilter to dc object?
    countHistChart
            .width(1000).height(400)
            .dimension(dateDim)
            .group(countPerDate)
            .x(d3.time.scale().domain([minDate, maxDate]))
//        .round(d3.time.day.round)
//        .xUnits(d3.time.day)
            .elasticY(true);

    countHistChart.xAxis().ticks(dates.length / 10);
//countHistChart.yAxis().ticks(20);

// fix axis labels and hardcode padding
    countHistChart.margins({ top: 10, left: 100, right: 100, bottom: 75 })
            .renderlet(function (chart) {
                chart.selectAll("g.x text")
                        .attr('dx', '-25')
                        .attr('transform', "rotate(-90)");
            })


dc.renderAll();
	});
	</script>
</div>
</div>
</script>
